h1 {
  color: gray;
}

.text {
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 999px;
  /* height: 580px; */
  min-height: 580px;
  background-color: white;
  display: flex;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.3);
}

/* 720  700
@media (max-width: 1040px) {
  .box {
    width: 768px;
  }
}

@media (max-width: 1230px) {
  .box {
    width: 1040px;
  }
} */

.insideBox {
  width: 50%;
  height: 100%;
}

.insideLeft {
  background: linear-gradient(0deg, #3a485a 0%, #607089 100%);
  position: relative;
  color: white;
}

.insideLeft::before {
  background-image: url(/src/assets/imgs/insideLeft.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
}

.insideLeftMiddle {
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/imgs/insideRight.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.insideLeftInner {
  /* background-color: #fff; */
  /* color: #ffffff; */
  height: calc(100% - 120px);
  width: 75%;
  margin: auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insideRight {
}

.leftTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans",
    "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei",
    "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp",
    sans-serif;
  font-size: 1.714rem;
  font-weight: normal;
  text-wrap: wrap;
}

.main:before {
  width: 394px;
  height: 456px;
  background-image: url(/src/assets/imgs/left.png);
  content: "";
  position: fixed;
  z-index: -2;
  background-size: contain;
  bottom: 0;
  left: 0;
}

.main::after {
  width: 487px;
  height: 412px;
  background-image: url(/src/assets/imgs/right.png);
  content: "";
  position: fixed;
  z-index: -2;
  background-size: contain;
  bottom: 0;
  right: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

.leftImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 394px;
  height: 456px;
}

.rightImg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 487px;
  height: 412px;
}

.link_footer {
  color: white;
  text-decoration: none;
}

.footer_gitee {
  font-weight: bolder;
}

.footer_gitee::after {
  content: "hot";
  position: absolute;
  margin-top: -12px;
  font-size: 12px;
  background-color: #c71d23;
  border-radius: 1px;
  padding: 2px 6px;
}

.insideRightMiddle {
  /* background-color: rgb(239, 239, 238); */
  width: calc(100% - 140px);
  height: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  /* height: 70px; */
}

.login_middle {
  width: 100%;
  /* background-color: skyblue; */
  margin-top: -25px;
  /* height: 100px; */
}

.login_footer {
  width: 100%;
  /* background-color: #607089; */
  /* height: 150px; */
}

.input_phone {
  border: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.login-form-button {
  background-color: #fe7300;
  width: 100%;
  border-radius: 2px;
  height: 38px;
  margin-top: -20px;
}

.login-form-button:hover {
  background-color: #f38d30 !important;
}

.login-message,
.login-forgot {
  display: inline-block;
  color: #005980;
}

.login-message:hover,
.login-forgot:hover {
  color: #288fc0;
}
.login-forgot {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.login-input-phone,
.login-input-password {
  border-radius: 3px;
  /* box-shadow: 2px 0em 0em 0em #d95c5c inset; */
  padding-top: 0.64286em;
  padding-bottom: 0.64286em;
  line-height: 1.42858rem;
  font-size: 1rem;
}

.login-input-phone {
  /*未填写手机号触发*/
  /* background: #fff0f0;
  border-color: #dbb1b1;
  color: #d95c5c;
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  -webkit-box-shadow: 2px 0em 0em 0em #d95c5c inset;
  box-shadow: 2px 0em 0em 0em #d95c5c inset; */
}

.login-input-phone::placeholder {
  /*未填写手机号触发*/
  /* color: #d95c5c; */
}

.login-input-password {
}

.login-footer-icons {
  width: 35px;
  display: inline-block;
  cursor: pointer;
}

.footer {
  margin-top: 30px;
  display: flex;
  /* background-color: pink; */
}

.footer a {
  text-decoration: none;
  color: #868c9d;
  display: inline-block;
  margin: 0 10px;
}

.not-found {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.not-found-img {
  display: block;
  width: 600px;
  height: 420px;
}

.signup-container {
  width: 75%;
  height: calc(100% - 120px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  align-items: center;
}

.has-account{
  margin-bottom: 0px;
  display: inline-block;
  color: #40485b;
}

.signup-body {
}

.sign-footer {
}

.login-title,
.signup-title {
  display: inline-block;
  color: #40485b;
  font-size: 1.714rem;
  font-weight: bold;
}

.link {
  color: #005980;
  text-decoration: none;
}

.signup-input-name,
.signup-input-phone,
.signup-input-password {
  width: 100% !important;
}

.signup-input-name,
.signup-input-phone,
.signup-input-password,
.signup-input-location{
  padding-top: 0.64286em;
  padding-bottom: 0.64286em;
  line-height: 1.42858rem;
  font-size: 1rem;
  border-radius: 3px;
}

.signup-input-location {
  border-radius: 0 3px 3px 0;
}

.signup-input-static{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: gray;
  border-radius: 3px 0 0 3px;
  background-color: #f9f9f9;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 0.64286em 0;
  line-height: 1.42858rem;
  font-size: 1rem;
}

.signup-btn {
  width: 100%;
  background-color: #fe7300;
  height: 38px;
  border-radius: 2px;
}

.signup-btn:hover {
  background-color: #f38d30 !important;
}

.inner_icons{
  border-radius: 100%;
  margin-left: 12px;
}

.inner_icons_container{
  padding: 6px 10px; 
  display: flex;
  flex-wrap: wrap; 
  width: 200px;
}